<!doctype html>
<html lang="de">
<head>
    <title>WikiFeedMe - Über</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "wikifeedme/favicon.ico" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "wikifeedme/main.css" %}" />
    <style type='text/css'>
        @font-face {
            font-family: 'Arapey';
            font-style: normal;
            font-weight: 400;
            src: local('Arapey Regular'), local('Arapey-Regular'), url({% static "wikifeedme/hTZBMDBEmuM7E6AJpWkyGA.woff" %}) format('woff');
        }
    </style>
    <style type='text/css'>
        body {
            margin-top: 100px;
        }
    </style>
</head>
<body>

<p>
    Sybille Reuter - backend<br/>
    Daniel Naber - frontend
</p>

<p><a href="https://github.com/slysawai/wikifeedme">Source code at github</a></p>

<p><a href="../feedMe">zurück</a></p>

</body>
</html>
